@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Light';
    src: url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
  
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 27px 0 40px;
}

/*contact-us*/

.contact-us {
    background-color: #f06c64;
    color: #f0d8d9;
    padding-bottom: 47px;
    border-bottom: 5px solid #ea676b;
}

.contact-us__title {
    padding-top: 62px;
    font-family: "Lato Black", Verdana, sans-serif;
    font-size: 3rem;
}

.contact-us__subtitle {
    padding-top: 15px;
    font-family: "Lato Light", Verdana, sans-serif;
    font-size: 1.8rem;
    word-spacing: 0.11rem;
    line-height: 3rem;
}

.form-section {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.form-section__form {
    flex: 620px;
}
.contact-inf {
    flex: 295px;
}

.form__input {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    width: 619px;
    height: 37px;
    margin-bottom: 17px;
}

::placeholder {
    color: #f0d8d96b;
    font-size: 0.9em;
    font-family: "Lato Regular", Verdana, sans-serif;
    padding: 13px 0 0 15px;
  }

  .form__textarea {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    width: 619px;
    height: 202px;
    margin-bottom: 17px;
}

.form__textarea::placeholder {
    padding: 8px 0 0 13px;
}

.contact-inf__title {
    font-family: "Lato Black", Verdana, sans-serif;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
}

.contact-inf__subtitle {
    padding: 9px 0 0 0;
    line-height: 2.2rem;
    font-size: 1.2rem;
    text-align: justify;
    max-width: 300px;
}

.contact-inf__objects {
padding-top: 20px;
}

.contact-inf__link {
    text-decoration: none;
    color: #f0d8d9;
    font-size: 1.2rem;
    padding-left: 5px;
}

.contact-inf__icon {
    display: inline-block;
    width: 15px;
    text-align: center;
}

.contact-inf__object {
    line-height: 2rem;
}

/*footer*/
.footer {
    background-color: #2d303a;
}

.footer__title {
    padding: 33px 0 32px 2px;
    color: #666d89;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    line-height: 1.1rem;
}

.footer__wrapper {
     display: flex;
    justify-content: space-between;
}

.social-icons {
    padding: 22px 13px;
}

.social-icons__link {
    text-decoration: none;
    padding-left: 4px;
}