@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
  
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 27px 0 40px;
}

/*Portfolio*/

.portfolio {
    background-color: #2d303a;
    color: #666d89;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 3rem;
    padding-top: 63px;
    padding-bottom: 20px;
    letter-spacing: 0.02rem;
}

.portfolio__subtitle {
    font-size: 1.7rem;
    letter-spacing: 0.01rem;
    padding-bottom:15px;
}

.portfolio__nav {
    margin-bottom: 20px ;
}


.portfolio-menu__item {
    list-style-type: none;
    display: inline-block;

}

.portfolio-menu__link {
    color: #666d89;
    text-decoration: none;
    letter-spacing: 0.01rem;
    font-size: 1.2rem;
    border: 1px solid #666d89;
    padding: 2px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.portfolio-menu__link:hover, .portfolio-menu__link:focus {
    color: #fefefe;
    border: 1px solid #fff;
    
}

.layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 52px;
}
.portfolio-content {
    margin-bottom: 10px;
    width: 25%;
    overflow: hidden;
    position: relative;
}
.portfolio__img {
    max-width: 223px;
    max-height: 190px;
    margin-bottom: 3px;
    padding: 2px;
}
.portfolio__img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

/*about-us*/

.about-us {
    background-color: #f2f2f2;
    color: #666d89;
    border-bottom: 6px solid #fff;
}

.about-us__title {
        font-family: 'Lato Black', Verdana, sans-serif;
        font-size: 3rem;
        padding-top: 63px;
        padding-bottom: 15px;
        letter-spacing: 0.02rem;
}

.about-us__subtitle {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    padding-bottom:15px;
    line-height: 1.8;
    color: #767e9e;
    padding-bottom: 44px;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 52px;
}
.portfolio__office-plankton {
    margin-bottom: 10px;
    width: 33%;
    overflow: hidden;
    position: relative;
    padding: 0 10px 0 0;
}

.office-plankton__title {
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 1.8rem;
    padding: 11px 0 8px 0;
}
.office-plankton__subtitle {
    font-size: 1.2rem;
    line-height: 1.7;
    padding-bottom: 25px;
}
.office-plankton__link {
    text-decoration: none;
    padding-right: 5px;
}
.office-plankton__img:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}